.carbon {
    height: 350px;
    width: 100%;
    background: url('../../images/carbon.jpg') no-repeat center center/cover;
}

.carbon .content {
    width: 55%;
    padding: 100px 0 0 30px
}

 .carbon p {
     margin: 10px 0 20px
 }