.main-nav{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
    justify-content: space-between;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 10px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}
.main-nav ul li a:hover {
    padding-bottom: 2px ;
}

.main-nav .right-menu li a:hover {
    border-bottom: 0 !important;
    padding-bottom: 0 ;
}

.main-nav ul.main-menu{
    flex: 1;
    margin-left: 20px;
}

.main-nav .logo{
    width: 110px;
}

//hamburger menu

.menu-btn{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 10;
    display: none;
}


  