.showcase{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.showcase p, .showcase h2{
    margin-bottom: 10px;
}

.showcase .btn{
    margin-top: 20px;
}