.xbox{
    height: 350px;
    width: 100%;
    background: url('../../images/xbox.png') no-repeat center center/cover;
    margin-bottom: 20px;
}

.xbox .content {
    width: 40%;
    padding: 50px 0 0 30px
}

.xbox p {
    margin: 10px 0 20px;
}